<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">YelpCamp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/campgrounds">Campgrounds</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/campgrounds/new">New Campground</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <% if(!currentUser){ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login"><button class="btn btn-success">Login</button></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register"><button class="btn btn-secondary">Register</button></a>
                    </li>
                    <% }else{ %>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="/logout"><button class="btn btn-danger">Logout</button></a>
                        </li>
                        <% } %>
            </ul>
        </div>
    </div>
</nav>